/* 상단 영역 */
.header {
  position: relative;
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #e9e9e9;
}

.header-inner {
  position: relative;
  width: 1280px;
  height: 160px;
  display: block;
  margin: 0px auto;
  /* block을 가운데 정렬 */
  padding-top: 1px;
}

.header-top {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: calc(29px - 1px);
  /* 계산기 (띄어쓰기 필수) */
}

.header-top-left {
  position: relative;
  width: 625px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  /* a 태그는 inline이기 때문에 너비, 높이가 없음 */
  width: 150px;
  height: 38px;
  display: block;
  background-image: url("../images/logo.svg");
}

.header-search {
  position: relative;
  /* 세로 중앙 */
  width: 454px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 23px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  /* 높이의 반 */
}

.search-form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-word {
  position: relative;
  width: 100%;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
}

.search-bt {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  /* 투명 */
  background-image: url("../images/btn_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  cursor: pointer;
  /* 커서 모양 바꾸기 */
}

.header-top-right {
  position: relative;
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
}

.member-menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.member-menu li {
  position: relative;
}

.member-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.mypage-bt img {
  margin-left: 5px;
}

.header-bottom {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.header-cate {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header-cate li {
  position: relative;
  margin-right: 22px;
}

.header-cate li a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.icon-hot::after {
  content: "";
  position: relative;
  /* before, after는 기본적으로 inline */
  width: 23px;
  height: 15px;
  display: block;
  margin-left: 6px;
  background: url(../images/badge_hot.svg) no-repeat center;
}

.header-cate li a img {
  position: relative;
  width: 30px;
  height: auto;
  margin-right: 6px;
}

.header-today-menu {
  position: relative;
  display: flex;
}

/* 라인 넣기 */
.header-today-menu::before {
  content: "";
  position: absolute;
  top: 1px;
  /* 상위 포지션을 기준으로 움직임 */
  left: -11.5px;
  width: 1px;
  height: 16px;
  background-color: #e9e9e9;
}

.header-today-menu li {
  position: relative;
  margin-right: 22px;
}

.header-today-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.header-today-menu li a img {
  position: relative;
  width: 30px;
  margin-right: 6px;
}
